{{#partial "title" }}
    Welcome Our Heroes
{{/partial}}

{{#partial "content"}}
    <div class="indexx">
        <div class="jumbotron text-center">
            <h1>Welcome To The Heroes Statute</h1>
            <p>The App Where heroes are made </p>
            <a href="/new">
                <p><a class="btn btn-outline-primary" href="/newhero/new">+ Add New Hero</a></p>
            </a>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}